<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
      
    <!-- 生产环境版本，优化了尺寸和速度 -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://cdn.jsdelivr.net/npm/element-ui/"></script>

    <script src="https://cdn.jsdelivr.net/npm/js-cookie"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment"></script>

    <title>Vue Template</title>

    <style>
      #app {
        width: 600px;
        margin: 0 auto;
        text-align: center;
      }
    </style>

  </head>
  <body>
    <div id="app">
      
    </div>

    <script>
      const DATE_FORMAT = "YYYY-MM-DD HH:mm:ss";
    
      new Vue({
        el: "#app",

        data() {
          return {
            
          };
        },

        created() {
          
        },

        methods: {
         
        },
      });
    </script>
  </body>
</html>